<% if @black_list.nil? -%>
  $("#messages").hide(300);
  $("#messages").empty();
  $("#messages").append("<div class='alert alert-danger'>Nenhum registro encontrado na lista negra.</div>");
  $("#messages").show(300);
<% else -%>
  $("#messages").hide(300);
  $("#messages").empty();
  $(":input:not(input[type=submit])").val("");
  $("#messages").show(300);
  $("#list_table_price").append("<%= j( render "black_list", black_list: @black_list ) %>")
  

<% end -%>

